@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body,html{
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    background-color: rgb(52,52,52);
}

.frame{
    border: 1px solid black;
}

#mostrador{
    width: 200px;
    height: 200px;
    background-image: url('./bg.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    display: flex;
}

#topSpeed{
    padding-top: 10%;
     color: rgba(0, 135, 253, 0); /*colocar em black quando a velMáxima estiver ok */
}

#velocidade{
    font-size: 500%;
    line-height: 70%;
    padding-top: 10%;
}

#sistema,#topSpeed{
    line-height: 70%;
    font-size: 250%;
}  

#sistema{
    padding-top: 10%;
    color: black;
}